body {
	font-family: Arial, sans-serif;
  overflow: hidden;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container form-label{
  text-align: center;   
}
label.form-label{
  margin-left: 50px;
}
h2{
color: white;
}
header{
background-color: #162b4e;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #162b4e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.social-media-icons {
  text-align: right;
}

.bank-icon {
  width: 120px;
  height: 50px;
  margin-left: 10px;
}

.form-check-label{
background-color: #162b4e;
color:white ;
font-weight: 500;
}

.form-label{
background-color: #162b4e;
color:white ;
font-weight: 500;
}